/* Site layout */
body {
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    margin: auto;
    padding-bottom: 4em;
}


header {
    flex: 1 1 100%;
    padding: 1em;
}


nav {
    flex: 1 1 34%;
}


#content {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 66%;
}


#poem {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3em;
}


@media all and (max-width: 35em) {
    body     {flex-direction: column}
    header   {order: 1}
    #content {order: 2}
    nav      {order: 3}
    nav      {margin: auto}
}


/* Layout for printing */
@media print {
    .no-print {
        display: none;
    }
}


/* Visual appearence */
header {
    font-size: xx-large;
}


header > a {
    color: inherit;
    text-decoration: inherit;
}


header, footer {
    text-align: center;
}


nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav > ul > li {
    padding: 0 1em 0 1em;
    cursor: pointer;
}


nav .expandable {
    height: 0;
    transition: height 1s ease-in-out;
    overflow-y: hidden;
}


body {
    background: #fff;
    color: #111;
    font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
}


footer {
    background: white;
    box-shadow: 0 0 1em -0.4em black;
}


div, h1, h2, p {
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: normal;
    font-size: x-large;
    line-height: 1.2;
    margin-bottom: 1em;
}


h1.no-name::after {
    content: "* * *";
}


#poem h2 {
    margin-bottom: 1em;
    font: inherit;
    font-style: italic;
    text-align: center;
}


#poem p {
    line-height: 1.5;
    margin-bottom: 15px;
    white-space: nowrap;
}


#poem p:first-of-type:first-letter {
    float: left;
    font-size: 38px;
    line-height: 1;
    margin: 2px 5px 0 0;
}


#poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}


/* Poem creation date */
#poem > time {
    display: block;
    align-self: flex-end;
    font-size: small;
    font-style: oblique;
    color: #aaa;
}
#poem > time::before {content: '/ '}
#poem > time::after  {content: ' /'}
