/* Site layout */
body {
    display: flex;
    flex-wrap: wrap;
    max-width: 70em;
    margin: auto;
    padding-bottom: 4em;
}


header {
    flex: 1 1 100%;
}


#content {
    margin: auto;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3em;
}


@media all and (max-width: 40em) {
    body     {flex-direction: column}
    header   {order: 1}
    #content {order: 2}
    nav      {order: 3}
    nav      {margin: auto}
}


/* Visual appearence */
header {
    font-size: xx-large;
}


header, footer {
    text-align: center;
}


nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav > ul > li {
    padding: 0 1em 0 1em;
}


body {
    background: #fff;
    color: #111;
    font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
}


footer {
    background: white;
    box-shadow: 0 0 1em -0.4em black;
}


div, h1, p {
    margin: 0;
    padding: 0;
}


.poem {
    padding: 3em 0;
    text-align: left;
    width: 390px;
    display: none;
}


.poem:target {
    display: inherit;
}


h1 {
    font-weight: normal;
    text-align: center;
    font-size: x-large;
    line-height: 1.2;
    margin-bottom: 1em;
}


p {
    line-height: 1.5;
    margin-bottom: 15px;
}


.poem h1 + p:first-letter {
    float: left;
    font-size: 38px;
    line-height: 1;
    margin: 2px 5px 0 0;
}


.poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}


.poem p:last-child {
    margin-bottom: 30px;
    padding-bottom: 30px;
}


/* Poem creation date */
.poem > time {
    display: block;
    text-align: right;
    font-size: small;
    font-style: oblique;
    color: #aaa;
}
.poem > time::before {content: '/ '}
.poem > time::after  {content: ' /'}
